.homeBlog__item {
    position: relative;

    .homeBlog__item--img {
        position: relative;
        img{
            width: 100%;
        }
    }

    .homeBlog__item--text {
        position: relative;
        top: -50px;
        width: 85%;
        padding: 30px 0;
        background-color: white;

        h4 {
            font-size: 27px;
            font-weight: 800;
            transition: .3s ease;
            cursor: pointer;

            &:hover {
                color: #2196f3;
            }
        }

        p {
            &#grey {
                color: grey;
                font-size: 12px;
                letter-spacing: 3px;
                font-weight: 600;
                padding: 20px 0;
                position: relative;

                &::before {
                    content: '';
                    width: 25%;
                    height: 1.5px;
                    background-color: #1976d2;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            &#content {
                min-height: 80px;
            }

        }

        a {
            color: #1976d2;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 2px;
            cursor: pointer;
        }
    }
}