.listCourseContent {
    padding: 30px 0;

    .top {
        align-items: center;

        .left {
            b {
                padding: 10px;
                border: 2px solid black;
            }
        }

        .right {
            .display {
                display: flex;
                justify-content: flex-end;

                span {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    font-size: 18px;
                    margin-right: 5px;
                    cursor: pointer;

                    &.active {
                        background-color: #478bca;
                        color: white;
                    }

                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:375px) {
    .listCourseContent {
        .top {
            .left {
                b {
                    font-size: 13px;
                }
            }

            .right {
                .display {
                    span {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}