.headerAdmin {
    // background-color: #1e1e2f;
    background: linear-gradient(to left, rgb(0, 162, 255), rgb(0, 47, 177));
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    // box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 999;
    color: white;

    .headerAdmin__content {
        position: absolute;
        top: 15px;
        right: 60px;
        display: flex;
        align-items: center;


        .headerAdmin__notify {
            position: relative;
            margin-right: 15px;
            svg {
                font-size: 40px;
            }

            .available {
                position: absolute;
                bottom:-10px;
                right: -5px;
                width: 22px;
                height: 22px;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: red;
                border-radius: 50%;


            }
        }
    }
}