.carousel {
    background-image: url('../../../assets/img/carousel_bg.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        height: 100vh;
        width: 100%;
    }

    .carousel__search {
        position: absolute;
        text-align: center;
        top: 60%;
        left: 50%;
        width: 60%;
        transform: translate(-50%, -50%);

        .result {
            position: absolute;
            top: 44%;
            width: 90%;

            .table {
                text-align: left;
                background: white;

                tbody {
                    tr {
                        td {
                            border-top: 1px solid grey;

                            p {
                                color: black;

                            }
                        }
                    }
                }
            }
        }

        .input-group {
            font-size: 50px;

            .form-control {
                height: 60px;
            }
            .input-group-append{
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        h1 {
            color: white;
            font-size: 50px;
            font-weight: 400;

            span {
                font-weight: 600;
            }
        }

        p {
            color: #c8c8c8;
            font-size: 18px;
            padding-bottom: 15px;
        }

        .search__info {
            margin-top: 50px;

            ul {
                display: flex;

                li {
                    width: 173px;
                    height: 173px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .search__circle {
                        padding: 20px 0;

                        .search__icon {
                            color: white;
                            font-size: 35px;

                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:998px) {
    .carousel {
        .carousel__search {
            h1 {
                font-size: 45px;
            }

            p {
                font-size: 15px;
            }
        }

        .search__info {
            ul {
                li {
                    .search__circle {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .carousel {
        .carousel__search {
            h1 {
                font-size: 35px !important;
            }

            p {
                font-size: 13px !important;
            }
        }

        .search__info {
            ul {
                li {
                    .search__circle {
                        p {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .carousel {
        .carousel__input {
            .input-group {
                input {
                    height: 50px !important;

                }

                .input-group-append {
                    button {
                        font-size: 15px;
                    }
                }
            }
        }

        .carousel__search {
            top: 50%;
            width: 80%;

            h1 {
                font-size: 35px !important;

            }

            p {
                font-size: 11px;
            }

            .search__info {
                display: none;
            }

            .result {
                top: 93%;
                width: 82%;
            }
        }
    }
}

@media screen and (max-width: 415px) {
    .carousel {
        .carousel__input {
            .input-group {
                input {
                    height: 40px !important;
                    font-size: 10px;
                }

                .input-group-append {
                    button {
                        font-size: 10px;
                    }
                }
            }
        }

        .carousel__search {
            top: 50%;
            width: 80%;

            h1 {
                font-size: 25px !important;

            }

            p {
                font-size: 10px !important;

            }

            .search__info {
                display: none;
            }

            .result {
                top: 90%;
                width: 71% !important;

                table {
                    tbody {
                        tr {
                            td {
                                img {
                                    width: 80px !important;
                                    height: 45px !important;
                                }

                                p {
                                    padding-bottom: 0;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}