.userContent {
    .userContent__name {
        h1 {
            font-size: 60px;
            font-weight: 400;
        }
    }
}
@media screen and (max-width:992px){
    .userContent {
        .userContent__name {
            h1 {
                font-size: 50px;
            }
            .userContent__courses{
                h3{
                    font-size: 25px;
                }
            }
        }
    }
}
@media screen and (max-width:768px){
    .userContent {
        .userContent__name {
            h1 {
                font-size: 40px;
                font-weight: 700;
            }
            .userContent__courses{
                h3{
                    font-size: 20px;
                }
            }
        }
    }
}
@media screen and (max-width:576px){
    .userContent {
        .userContent__name {
            h1 {
                font-size: 30px;
            }
            .userContent__courses{
                h3{
                    font-size: 15px;
                }
            }
        }
    }
}
@media screen and (max-width:415px){
    .userContent {
        .userContent__name {
            h1 {
                font-size: 15px;
            }
            .userContent__courses{
                h3{
                    font-size: 12px;
                }
            }
        }
    }
}