.homePopular {
    padding-top: 50px;
    // background: #f7f8fa url('../../../assets/img/background-wave3.png');
    // width: 100%;
    // background-position: 0 0;
    // background-size: cover;
    // height: 100%;

    .homePopular__title {
        >nav {
            .row {

                >.left {
                    >h1 {
                        color: black;
                        position: relative;
                        padding-bottom: 5px;
                        font-size: 2.2rem;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100px;
                            height: 4px;
                            background-color: black;
                        }
                    }
                }

                >.right {
                    >.nav {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

    .homePopular__course {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}