.adminPage {


    .container-fluid {
        padding-left: 200px;
        overflow-x: hidden;
        background-color: #fff;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        padding-right: 0;
        .adminPage__content {
            padding-top: 116px;
            min-height: 100vh;
            padding-right: 15px;
            padding-left: 15px;
            background-color: rgba(0,0,0,.05);;

        }
    }
}