.adminUser {
    .adminUser__content {
        .adminUser__title {
            h1 {
                color: black;
                font-weight: 800;
            }
        }

        .adminUser__search {
            box-sizing: border-box;
            outline: none;
            border: 1px solid transparent;
            color: white;
            width: 100%;
            display: flex;
            justify-content: center;

            .input-group {
                width: 50%;

                input {
                    box-sizing: border-box;
                    outline: none;
                    // border: 1px solid transparent;
                    color: black;
                    // background: #3E444A;
                    font-size: 18px;
                    padding: 20px;
                    outline: none;
                    border: 1px solid transparent;

                    &:focus {
                        border: 1px solid black;
                        box-shadow: none;
                    }

                    &:visited {
                        border: 1px solid transparent;
                    }
                }

                .input-group-append {
                    button {
                        outline: none;
                    }
                }
            }

        }

        .adminUser__addUser {
            text-align: center;

            button {
                // background-color: rgba(0, 0, 0, .11);
                // outline: none;
                // border: 1px solid transparent;
            }
        }

        .adminUser__table {
            padding: 0 50px;

            .adminUser__table--content {
                box-shadow: 0 1px 15px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04);
                padding: 20px;
                background-color: #fff;
                border: transparent;
                border-radius: 15px;

                table {

                    thead {
                        tr {
                            th {
                                border: none;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .adminUser {
        div {
            .modal {
                .modal-dialog {
                    max-width: 800px !important;
                }
            }
        }
    }

}