.userLogin {
    display: flex;
    align-items: center;

    cursor: pointer;

    .userLogin__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        color: white;
        font-weight: 800;
        width: 55px;
        height: 55px;
        border: 2px solid #fff;
        border-radius: 50%;
        position: relative;

        .userLogin__dropdown {
            position: absolute;
            width: 200px;
            top: 140px;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border-radius: 6px;
            padding: 10px;
            transition: .3s;
            box-shadow: 0 10px 10px grey;
            visibility: hidden;
            ul {
                list-style-type: none;

                li {
                    padding: 10px 0;
                    text-align: left;

                    a {
                        font-weight: normal;

                        &:hover {
                            color: rgb(103, 218, 255);
                        }
                    }
                }
            }

            &::before {
                content: '';
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid white;
                position: absolute;
                top: -7px;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.show {
                visibility: visible;
                top: 130px;
            }
        }

    }
}
@media screen and (max-width:576px){
    .userLogin{
        .userLogin__logo{
            .userLogin__dropdown{
                width: 130px !important;
                top:190px !important;
                font-size: 12px !important;
                height: auto !important;
                left:30%;
                padding:5px !important;
                transition: .3s;
                &.show {
                    top: 170px !important;
                }
            }
        }
    }
}