.social-media {
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 10000;

    .social-media__content {
        margin-bottom: 0;

        li {
            list-style-type: none;

            a {
                text-decoration: none;

                i {
                    margin-top: 5px;
                    background-color: black;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    color: white;

                    &:hover {
                        color: #00adef;
                    }
                }
            }
        }
    }
}