.homeFact {
    background-color: #42a5f5;
    color: white;
    padding: 80px 0;

    .homeFact__content {
        display: flex;
        justify-content: space-between;

        .homeFact__item {
            display: flex;
            align-items: center;


            .icon {
                margin-right: 20px;

                svg {
                    font-size: 60px;
                }
            }

            .text {
                h1 {
                    font-weight: 800;
                    font-size: 58px;
                }

                span {
                    font-size: 18px;
                }
            }
        }
    }
}