.homeFact {
    background-color: #f6f6f6;
    color: black;
    // color: white;
    padding: 40px 0;

    .homeFact__content {
        position: relative;

        // &:before {
        //     content: '';
        //     background-image: url('../../../assets/img/btn-bg2.png');
        //     background-repeat: no-repeat;
        //     background-size: inherit;
        //     position: absolute;
        //     width: 100%;
        //     height: 200px;
        //     top: 0;
        //     left: 0;
        // }

        // display: flex;
        // justify-content: space-between;
        // background: #00c6ff;
        // /* fallback for old browsers */
        // background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
        // /* Chrome 10-25, Safari 5.1-6 */
        // background: linear-gradient(to right, #0072ff, #00c6ff);
        // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        // padding: 50px 20px ;
        // border-radius: 30px;
        .homeFact__item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px 0;

            .icon {
                margin-right: 20px;

                svg {
                    font-size: 60px;
                }
            }

            .text {
                h1 {
                    font-weight: 800;
                    font-size: 58px;
                }

                span {
                    font-size: 18px;
                }
            }
        }
    }
}
@media screen and (max-width:998px){
    .homeFact{
        .homeFact__content{
            .homeFact__item{
                .icon{
                    svg{
                        font-size: 40px;
                    }
                }
                .text{
                    h1{
                        font-size: 45px;
                    }
                    span{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}