.adminCourse {
    .adminCourse__content {
        h1 {
            color: black;
            font-weight: 800;
        }

        .adminCourse__search {
            box-sizing: border-box;
            outline: none;
            border: 1px solid transparent;
            color: white;
            width: 100%;
            display: flex;
            justify-content: center;

            .input-group {
                width: 50%;

                input {
                    box-sizing: border-box;
                    outline: none;
                    // border: 1px solid transparent;
                    color: black;
                    // background: #3E444A;
                    font-size: 18px;
                    padding: 20px;
                    outline: none;
                    border: 1px solid transparent;

                    &:focus {
                        border: 1px solid black;
                        box-shadow: none;
                    }

                    &:visited {
                        border: 1px solid transparent;
                    }
                }

                .input-group-append {
                    button {
                        outline: none;
                    }
                }
            }

        }



        .adminCourse__table {
            padding: 0 50px;

            .adminCourse__table--content {
                box-shadow: 0 1px 15px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04);
                border-radius: 15px;
                background-color: #fff;
                padding: 20px;


                .table__course {
                    border: none;

                    thead {
                        tr {
                            th {
                                border-top: none;
                                border-bottom: none;
                            }
                        }
                    }

                    tr {
                        td {
                            border: none;

                            h5 {}
                        }
                    }
                }
            }
        }
    }
}

.btn-update {}

.btn-delete {
    background-color: #db4912;
}