form {
    .select-field {
        margin: 40px 0;

        label {
            color: #555;
            font-size: 16px;
            margin-right: 20px;
        }
    }

    .input-file {
        display: flex;
        margin: 40px 0;

        span {
            &:first-child {
                margin-right: 32px;
            }
        }

        input {
            font-size: 14px;
            overflow: hidden;
        }
    }
}