.courseList {
    .courseList__item {
        padding-left: 15px;

    }

    .slick-slider {
        position: relative;

        .slickButton {
            position: absolute;
            top: -70px;
            z-index: 50;
            color: black;
            background: transparent;
            font-size: 20px;
            padding: 2px 12px;
            // display: flex !important ;
            // justify-content: center;
            // align-items: center;
            border: 2px solid black;
            outline: none;
            transition: 0.5s;

            &:hover {
                background-color: #03a9f4;
                ;
                border: 2px solid transparent;
                color: white;
            }

            &.nextSlick {
                right: 10px;
            }

            &.prevslick {
                right: 60px;
            }
        }
    }
}
